<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleAnalytics</key>
	<dict>
		<key>Debug</key>
		<false/>
		<key>TrackingId</key>
		<string>UA-3772927-8</string>
	</dict>
	<key>Authentication</key>
	<dict>
		<key>InactiveTimeoutMinutes</key>
		<integer>10</integer>
	</dict>
	<key>Api</key>
	<dict>
		<key>BaseUrl</key>
		<string>https://receptapp.apoteket.se/production/</string>
	</dict>
</dict>
</plist>
